
{% block content %}
<head>
    <meta charset="utf-8" />
    <title>Broodjeszaak</title>
    <meta name="description" content="" />

    <link rel="shortcut icon" href="favicon.png" />
    <link rel="stylesheet" href="src/ProjectBrood/presentation/css/style.css" /> {#пользовательские стили#}

</head>


{% endblock %}